html {
  width: 100%;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px;
  font-family: "Luckiest Guy", cursive;
  /* background-color: white; */
  /* background-image: url("../images/coding.png"); */
  background-size: cover;
}

.block {
  background-color: rgba(241, 241, 241);
  opacity: 1;
  padding: 40px;
  margin: 0 auto;
  margin-bottom: 50px;
}
#start-container {
  display: block;
}
#start-button {
  font-size: 25px;
  border: none;
  background-color: rgb(3, 112, 7);
}
#start-button:hover {
  background-color: #4CAF50;
}

#quiz-container {
  text-align: left;
  display: none;
}
.radio-container input {
  display: inline-block;
  margin-left: -28px;
  margin-right: 20px;
}
.radio-container label {
  vertical-align: bottom;
  font-size: 18px;
  margin: auto;
}
#label-A {
  display: block;
  color: red;
}
.answer {
  background-color: #f1f1f1;
  display: inline-block;
  padding: 10px;
}
.answer-label {
  background-color: #f1f1f1;
  width: 95%;
  display: inline-block;
  position: relative;
  padding: 10px 10px 10px 20px;
  margin-bottom: 1px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  word-wrap: break-word;
  text-align: left;
  vertical-align: middle;
}

.answer-label:hover {
  background-color: #ddd;
}

#answer-button-container {
  position: relative;
  padding: 20px 0;
}
#next-button {
  border: none;
  display: inline-block;
  padding: 12px 30px;
  color: #fff;
  background-color: rgb(3, 112, 7);
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  float: left;
}
#next:hover {
  background-color: #4CAF50;
}

#result-container {
  display: none;
}

.mybutton {
  font-size: 25px;
  border: none;
  background-color: rgb(3, 112, 7);
  color: white;
  padding: 5px 20px;
}
.mybutton:hover {
  background-color: #4CAF50;
}

#timer {
  text-align: left;
  font-size: 16px;
  display: none;
}

#review-container {
  display: none;
}

.q-review {
  background-color: #f1f1f1;
  width: 100%;
  display: block;
  position: relative;
  padding: 10px 10px 10px 20px;
  margin-bottom: 1px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  word-wrap: break-word;
  text-align: left;
  vertical-align: middle;
}

.q-review-correct {
  background-color: lightgreen;
  width: 100%;
  display: block;
  position: relative;
  padding: 10px 10px 10px 20px;
  margin-bottom: 1px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  word-wrap: break-word;
  text-align: left;
  vertical-align: middle;

}

.q-review-wrong {
  background-color: lightcoral;
  width: 100%;
  display: block;
  position: relative;
  padding: 10px 10px 10px 20px;
  margin-bottom: 1px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  word-wrap: break-word;
  text-align: left;
  vertical-align: middle;

}

.no-answer {
  background-color: yellow;
  color: red;
  margin-top: 5px;
  border: 1px solid red;
  width: 100%;
  display: block;
  position: relative;
  padding: 10px 10px 10px 20px;
  margin-bottom: 1px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  word-wrap: break-word;
  text-align: left;
  vertical-align: middle;
}





nav,
.navbar-brand {
  font-size: 30px;
}


main {
  font-family: "Roboto", sans-serif;
  margin: 80px 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

